pkgbase = linux-mainline-amd-s0ix
	pkgdesc = Linux Mainline
	pkgver = 5.14rc1
	pkgrel = 2
	url = https://kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = git
	makedepends = gcc>=11.0
	options = !strip
	source = linux-stable-s0ix::git+https://gitlab.com/smbruce/linux-stable-s0ix.git#tag=v5.14-rc1-s0ix
	source = config
	source = myconfig-fragment
	source = hotfix-5.14rc1-net-core-fix-SO_TIMESTAMP_-option-setting.patch
	source = choose-gcc-optimization.sh
	source = more-uarches-for-kernel-5.8+.patch::https://raw.githubusercontent.com/graysky2/kernel_compiler_patch/a8d200f422f4b2abeaa6cfcfa37136b308e6e33e/more-uarches-for-kernel-5.8%2B.patch
	source = 8002-hwmon-k10temp-support-Zen3-APUs.patch
	source = 0001-asus-wmi-Add-panel-overdrive-functionality.patch
	source = 0002-asus-wmi-Add-dgpu-disable-method.patch
	source = 0003-asus-wmi-Add-egpu-enable-method.patch
	source = 0006-HID-asus-Remove-check-for-same-LED-brightness-on-set.patch
	source = 0007-ALSA-hda-realtek-Fix-speakers-not-working-on-Asus-Fl.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	sha256sums = SKIP
	sha256sums = 6030ad40747f2055165a6a9081122034ed45283b51533c9018eda6ebec200b84
	sha256sums = c43d97768e5961ed3d53ae2328a711cee1eddcc64ce7cd1091a9c41759b95ab3
	sha256sums = 832a1634953ab063f5ce0fbe624baf3f943443c3a0acf80c146e4f30b8a7ac11
	sha256sums = 1ac18cad2578df4a70f9346f7c6fccbb62f042a0ee0594817fdef9f2704904ee
	sha256sums = fa6cee9527d8e963d3398085d1862edc509a52e4540baec463edb8a9dd95bee0
	sha256sums = de8c9747637768c4356c06aa65c3f157c526aa420f21fdd5edd0ed06f720a62e
	sha256sums = 09cf9fa947e58aacf25ff5c36854b82d97ad8bda166a7e00d0f3f4df7f60a695
	sha256sums = 7a685e2e2889af744618a95ef49593463cd7e12ae323f964476ee9564c208b77
	sha256sums = 663b664f4a138ccca6c4edcefde6a045b79a629d3b721bfa7b9cc115f704456e
	sha256sums = 034743a640c26deca0a8276fa98634e7eac1328d50798a3454c4662cff97ccc9
	sha256sums = 32bbcde83406810f41c9ed61206a7596eb43707a912ec9d870fd94f160d247c1

pkgname = linux-mainline-amd-s0ix
	pkgdesc = The Linux Mainline kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-mainline
	replaces = wireguard-maineline

pkgname = linux-mainline-amd-s0ix-headers
	pkgdesc = Headers and scripts for building modules for the Linux Mainline kernel
	depends = pahole
