pkgbase = linux-mainline
	pkgdesc = Linux Mainline
	pkgver = 5.13rc7
	pkgrel = 2
	url = https://kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = git
	options = !strip
	source = linux-mainline::git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v5.13-rc7
	source = config
	source = 5.14-ACPI-processor-idle-Fix-up-C-state-latency-if-not-ordered.patch
	source = PCI-quirks-Quirk-PCI-d3hot-delay-for-AMD-xhci.patch
	source = 5.14-nvme-pci-look-for-StorageD3Enable-on-companion-ACPI-device.patch
	source = 5.14-ACPI-Check-StorageD3Enable_DSD-property-in-AHCI-mode.patch
	source = 5.14-ACPI-Add-quirks-for-AMD-Renoir+Lucienne-CPUs-to-force-the-D3-hint.patch
	source = 5.14-ACPI-PM-s2idle-Add-missing-LPS0-functions-for-AMD.patch
	source = 5.14-1of5-ACPI-PM-s2idle-Use-correct-revision-id.patch
	source = 5.14-2of5-ACPI-PM-s2idle-Refactor-common-code.patch
	source = 5.14-3of5-ACPI-PM-s2idle-Add-support-for-multiple-func-mask.patch
	source = 5.14-4of5-ACPI-PM-s2idle-Add-support-for-new-Microsoft-UUID.patch
	source = 5.14-5of5-ACPI-PM-s2idle-Adjust-behavior-for-field-problems-on-AMD-systems.patch
	source = platform-x86-amd-pmc-Fix-command-completion-code.patch
	source = platform-x86-amd-pmc-Fix-SMU-firmware-reporting-mechanism.patch
	source = platform-x86-amd-pmc-Add-support-for-logging-SMU-metrics.patch
	source = platform-x86-amd-pmc-Add-support-for-s0ix-counters.patch
	source = platform-x86-amd-pmc-Add-support-for-ACPI-ID-AMDI0006.patch
	source = platform-x86-amd-pmc-Add-new-acpi-for-future-PMC.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	sha256sums = SKIP
	sha256sums = 6dde032690644a576fd36c4a7d3546d9cec0117dd3fb17cea6dc95e907ef9bef
	sha256sums = b4a563ef30f86b9af0932c00bb3422b95eedbda1ff40a1a725c22a0ae9ab7084
	sha256sums = dab4db308ede1aa35166f31671572eeccf0e7637b3218ce3ae519c2705934f79
	sha256sums = 9e83c46bed9059ba78df6c17a2f7c80a1cdb6efbdf64ec643f68573ede891b95
	sha256sums = 6c5538dc21a139a4475af6c1acc5d2761923173992568f7c159db971ff3167cd
	sha256sums = 84119c2d2beb6d7dc56389f2d1be8052b4fd23022e15edd86ee59130adcd9ab7
	sha256sums = 478e908f89ae413c650116681710aed3e974384a2ed5e97be3755189688e5415
	sha256sums = 1c58e4fd62cb7034e4fe834b55ffd8e183926571d4056b150bab5725f0ac5e29
	sha256sums = 50f6e6a3371eaedd3b649a25c5044e6359853c2e3836a6af683a906abb973fba
	sha256sums = 23ada5c29c415c0bb8d14cff213c697c649b438d7427a67a15b0b3f65c66aa6f
	sha256sums = 9ea5d38eea3809e85c6f3165f4b410ee53f0fdb813cbbf229e18a87e79c13ad5
	sha256sums = d6113df716cb81f78abc58405648d90f8497e29d79f5fd403eda36af867b50f3
	sha256sums = bc783b22ab5ab75dc28ae10519a9d6da23d80ee291812115555945acd280edc5
	sha256sums = dce87ca35886d075554fe6d8831075237d80526e078431165d2ec0d1a9630c7b
	sha256sums = ad9f485bb262bb1156da57698ccab5a6b8d8ca34b6ae8a185dcd014a34c69557
	sha256sums = 3e8c51aff84b6f12e6bc61057982befd82415626fe379e83271ddeb1a9628734
	sha256sums = bd975ab32d6490a4231d6ce4fab0343698b28407799bdaec133671e9fd778eb5
	sha256sums = ae66bbed96b5946b5a20d902bc0282c7dd172650812114b24429f40d5ba225bb

pkgname = linux-mainline
	pkgdesc = The Linux Mainline kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-mainline
	replaces = wireguard-maineline

pkgname = linux-mainline-headers
	pkgdesc = Headers and scripts for building modules for the Linux Mainline kernel
	depends = pahole
